@media screen and (max-width: 767px) {


        
    
        .logotype {
            color: var(--logo-blue);
            font-family: 'Raleway', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 800;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            
        }
    
    
        .logotype-black {
            color: var(--text-color);
        }

     /*   .logotype link {
            margin-left: 16px;
        }
    */
        .menu {
            display: none;
        }
    
        .header-contacts {
            display: none;
        }
    
        .mobile-menu-open-button {
            border: none;
            background-color: var(--white);
            padding: 0px;
            line-height: 0px;
            stroke: var(--text-color);
           
    
        }
    
    
      
        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70px;
                    
        
            
        }

        .page-header {
          
                border-bottom: 1px solid var(--header-underline);
                background: var(--white);
                box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
        }


.mobile-menu-phone {
    display: block;
}
.mobile-menu-email {
    display: block;
}


.mobile-menu-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border-color: var(--header-underline);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    transform: translateX(100%);
   
}

.social-list {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-right:60px;
    margin-left: 40px;


}


.social-list-item {
    width: 40px;
    height: 40px;

}

.social-list-item {

}

.social-icon {
    width: 100%;
    height: 100%;
    background-color: var(--logo-blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--button-background);

}

.social-icon:hover,
.social-icon:focus {
    background-color: var(--hover-color);
}

.mobile-menu-item-link {
    font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
       color: var(--text-color);
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.mobile-menu-item-link:active {
    color: var(--hover-color);
}

.mobile-menu-list {
    margin-top: 80px;
  margin-left: 40px;
}

}


   


/*

.menu-item-link {
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;



}

.menu-item-link:hover,
.menu-item-link:focus {
    color: var(--hover-color);
}

.header-contacts {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-color);
    text-decoration: none;
}

.header-contacts:hover,
.header-contacts:focus {
    color: var(--hover-color);
}


.contacts-list-item {
    color: var(--body-color);
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-item:hover,
.contacts-list-item:focus {
    color: var(--hover-color);
}

.page-nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.contacts-list {
    display: flex;
    gap: 40px;

}


.page-header {
    border-bottom: 1px solid var(--header-underline);
    padding: 24px 0;
}
*/



