:root {
    --body-color: #434455;
    --logo-blue: #4D5AE5;
    --background-color: white;
    --text-color: #2E2F42;
    --hover-color: #404BBF;
    --button-background: #F4F4FD;
    --header-underline: #e7e9fc;
    --green: #31D0AA;
    --border-icon: #8E8F99;
    --white: #ffffff;
}